flows.json
[{"id":"9bdec37f.f7bc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"713e72d6.e8053c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bb9a5bf7.6d1488","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed90045e.67b778","type":"ui_group","z":"","name":"Default","tab":"bb9a5bf7.6d1488","order":1,"disp":true,"width":"6","collapse":false},{"id":"966feb89.759d08","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e9f948a.5da77c","type":"ibmiot in","z":"9bdec37f.f7bc","authentication":"apiKey","apiKey":"713e72d6.e8053c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"133","applicationId":"","deviceType":"finalpro","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":220,"wires":[["2d41fe74.11ce22","5130e445.8eef6c","3460d420.8f687c","706e8566.bde63c"]]},{"id":"2d41fe74.11ce22","type":"function","z":"9bdec37f.f7bc","name":"ultrasonic1","func":"global.set('Ultrasonic1',msg.payload.ultrasonic1)\nmsg.payload=msg.payload.ultrasonic1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":40,"wires":[["c0482f1b.480c7","abc81ccc.90406"]]},{"id":"5130e445.8eef6c","type":"function","z":"9bdec37f.f7bc","name":"ultrasonic2","func":"global.set('Ultrasonic2',msg.payload.ultrasonic2)\nmsg.payload=msg.payload.ultrasonic2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["e7ffe2b8.9829a","abc81ccc.90406"]]},{"id":"3460d420.8f687c","type":"function","z":"9bdec37f.f7bc","name":"cylwt","func":"global.set('Cylwt',msg.payload.cylwt)\nmsg.payload=msg.payload.cylwt\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["abe799d5.e46d38","abc81ccc.90406"]]},{"id":"706e8566.bde63c","type":"function","z":"9bdec37f.f7bc","name":"mq6","func":"global.set('Mq6',msg.payload.mq6)\nmsg.payload=msg.payload.mq6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":400,"wires":[["abc81ccc.90406"]]},{"id":"c0482f1b.480c7","type":"ui_gauge","z":"9bdec37f.f7bc","name":"","group":"ed90045e.67b778","order":2,"width":0,"height":0,"gtype":"gage","title":"salt","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":40,"wires":[]},{"id":"e7ffe2b8.9829a","type":"ui_gauge","z":"9bdec37f.f7bc","name":"","group":"ed90045e.67b778","order":1,"width":0,"height":0,"gtype":"gage","title":"sugar","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":160,"wires":[]},{"id":"abe799d5.e46d38","type":"ui_gauge","z":"9bdec37f.f7bc","name":"","group":"ed90045e.67b778","order":3,"width":0,"height":0,"gtype":"gage","title":"cylinder wt","label":"units","format":"{{value}}","min":0,"max":"18","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":300,"wires":[]},{"id":"abc81ccc.90406","type":"debug","z":"9bdec37f.f7bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":220,"wires":[]},{"id":"43ea7413.73ba9c","type":"http in","z":"9bdec37f.f7bc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["e9f81aa3.25b168"]]},{"id":"47a2ad92.70fb04","type":"http response","z":"9bdec37f.f7bc","name":"","statusCode":"","headers":{},"x":650,"y":480,"wires":[]},{"id":"e9f81aa3.25b168","type":"function","z":"9bdec37f.f7bc","name":"data","func":"msg.payload={'ultrasonic1':global.get(\"Ultrasonic1\"),'ultrasonic2':global.get(\"Ultrasonic2\"),'cylwt':global.get(\"Cylwt\"),'mq6':global.get(\"Mq6\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":480,"wires":[["47a2ad92.70fb04"]]}]